:root{
    box-sizing: border-box;
    font-size: 16px;
}

*,*::before,*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

body{
    font-family:sans-serif;
}

/* CSS RESETS START*/
h1,h2{
    margin:0;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style-type:none;
}
/* CSS RESETS END*/

.hero {
    width: 100vw;
    height: 100vh;
    background-color:#bebebe;
}

.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:10vh;
    padding:2em 2em;
}

.nav {
    display:flex;
}

.nav__list{
    display:flex;
    flex-direction: row;
}

.nav__item {
    padding:;
}