body {
  margin: 0;
}

.navbar {
  background-color: #241c21;
  overflow: hidden;
  border: 10px solid grey;
}

.navbar a {
  color: #bb5ba3;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  padding: 30px 16px;
  font-family: "Karla", sans-serif;
}

.navbar a.home {
  background-color: #orange;
  color: #d25621;
  font-family: "Pacifico", cursive;
}

a.home:hover {
  background-color: #9eadc8;
}

a:hover {
  background-color: #9eadc8;
}

.parallax {
  background-image: url("../images/cloud-parallax.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ontop {
  height: 700px;
  background-color: grey;
  font-size: 36px;
  opacity: 0.7;

  border-radius: 75px;
}

.mainheading {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-family: "Pacifico", cursive;
}

p {
  font-family: "Karla", sans-serif;
}
