.navbar {
  background-color: #241c21;
  overflow: hidden;
}

.navbar a {
  color: white;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  padding: 30px 16px;
}

.navbar a.home {
  background-color: #fff9f8;
  color: #241c21;
}

a.home:hover {
  background-color: #9eadc8;
}

a:hover {
  background-color: #9eadc8;
}

.parallax {
  background-image: url("../images/a.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ontop {
  height: 600px;
  background-color: grey;
  font-size: 36px;
  opacity: 0.5;
  border-radius: 75px;
}

.mainheading {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}
